# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
/Bin/
/PrjMac/
/PrjIOS/
/PrjVisualStudio/
/PrjUWP/
/PrjLinux/
/PrjMinGW/
/PrjCygwin/
/PrjEmscripten/
/PrjAndroid-arm64-v8a/
/PrjAndroid-armeabi-v7a/
/PrjAndroid-x86/
/InstallLibs/
/Maps/
node_modules/