# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
/Bin/
/PrjMac/
/PrjVisualStudio/
/PrjUWP/
/PrjEmscripten/
/InstallLibs/
/Maps/
node_modules/